---

apiVersion: "apps/v1"
kind: "StatefulSet"

metadata:
  name: "tgze"
  namespace: "{{ $.Release.Namespace }}"
  labels:
    app: "tgze"

spec:
  selector:
    matchLabels:
      app: "tgze"
  template:
    metadata:
      name: "tgze"
      labels:
        app: "tgze"
      annotations:
        checksum/configmap: "{{ include ( print $.Template.BasePath "/" "configmap.yaml" ) . | sha256sum }}"

    spec:

      volumes:
        - name: "tgbotserver"
          hostPath:
            path: "/opt/tgbotserver/"
            type: "DirectoryOrCreate"

      containers:

        - name: "tgze"
          image: "{{ $.Values.ImageNameGithubTgZe }}:{{ $.Values.ImageTagGithubTgZe }}"
          imagePullPolicy: "IfNotPresent"
          envFrom:
            - configMapRef:
                name: "tgze"
          volumeMounts:
            - name: "tgbotserver"
              mountPath: "/tgbotserver/downloads/"

